.main {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-attachment: fixed;
  background-size: cover;
}

.loading {
  left: 50%;
  top: 50%;
  text-align: center;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
}

.background-loading {
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: #f5f5f5;
}

#formSignin {
  width: 100%;
  max-width: 330px;
  padding: 5px;
  margin: auto;
}

#inputStyle {
  padding: 10px;
  height: 100%;
  border-radius: 3px;
  margin-bottom: 20px;
}

#inputPassword {
  margin-bottom: 27px;
  padding: 10px;
  height: 100%;
  border-radius: 3px;
}

#headings {
  padding: 25px;
}

#button-login {
  border-radius: 3;
  height: 40px;
  background-color: #ff4747;
  border: none;
}
